html {
  font-size: 62.5%;
}
body {
  margin: 5rem;
}

main {
  width: 1140px;
  border: 0.5rem solid black;
  margin: auto;
  padding-left: 4rem;
}
h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
}
h1 {
  text-shadow: black;
  color: #900;
  letter-spacing: -0.2rem;
  font-size: 4.209rem;
}

#introduction {
  font-size: 2rem;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  border: 0.5rem solid black;
  padding: 0.5rem;
  width: 50rem;
}

h2 {
  margin-bottom: 5rem;
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
  margin: 5rem 0 1rem 0;
}

ul {
  font-size: 2rem;
}
